{% extends 'base.html' %}
{% block content %}
    <div class="card" style="width: 18rem;">
      <img src="{{ book.image.url }}" class="card-img-top" alt="...">
      </div>
</div>
    <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ blog.author }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
  </div>
{% endblock %}
</body>
</html>